[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
streamlit = "*"
pypdf2 = "*"
flask-cors = "*"
async-timeout = "*"
pypdf = "*"
tiktoken = "*"
python-dotenv = "*"
faiss-cpu = "*"
fpdf = "*"
boto3 = "*"
chromadb = "*"
docx = "*"
python-docx = "*"
opencv-python = "*"
openai = "*"
langchain = "*"
openai-whisper = "*"
supabase = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
