[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
streamlit = "*"
langchain = "*"
openai = "*"
pypdf2 = "*"
flask-cors = "*"
async-timeout = "*"
pypdf = "*"
tiktoken = "*"
python-dotenv = "*"
faiss-cpu = "*"
fpdf = "*"
boto3 = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
