.feature-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px; /* Reduced padding for smaller box */
  border: 1px solid #ccc;
  border-radius: 10px; /* Smaller border radius for less rounded corners */
  background-color: #fff;
  margin: 8px 0; /* Smaller margin for tighter layout */
  text-align: left;
  width: auto; /* Adjust width to content or specific sizing */
  max-width: 280px; /* Maximum width to contain the boxes */
  box-sizing: border-box;
}

.feature-icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Smaller icon container */
  height: 40px; /* Smaller icon container */
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-bottom: 8px; /* Reduced space between icon and title */
  color: #808080;
}

.feature-icon-wrapper svg {
  width: 50%; /* Smaller icon size */
  height: 50%; /* Smaller icon size */
  fill: currentColor;
}

/* Add styling for the text within the feature box */
.feature-box h2 {
  font-size: 0.9em; /* Smaller font size for the title */
  margin-bottom: 5px; /* Reduced bottom margin */
}

.feature-box p {
  font-size: 0.8em; /* Smaller font size for the description */
}
