/* FileMessage.css */

.file-message {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  align-self: flex-end;
  color: #000;
  background-color: #f0f0f0;
}

.file-timestamp {
  font-size: 0.75rem;
  color: #666;
  margin-bottom: 4px;
  text-align: right;
}

.file-info {
  display: flex;
  align-items: right;
  text-align: right;
  justify-content: space-between;
}

.file-details {
  flex-grow: 1;
}

.file-size {
  font-size: 0.75rem;
  color: #666;
  margin-left: 20px;
}
