iframe {
  margin: 10px;
  width: 98%;
  height: 70%;
}

.iframe-message {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.iframe-message iframe {
  width: 150%; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
}

.iframe-message .timestamp {
  font-size: 0.75rem;
}

.iframe-message table {
  width: 100%;
  border-collapse: collapse;
}

.iframe-message th,
.iframe-message td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-weight: normal; /* This ensures that the text is not bold */
}

.iframe-message th {
  background-color: #f2f2f2;
}