iframe {
  margin: 10px;
  width: 98%;
  height: 70%;
}

.iframe-message {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.iframe-message iframe {
  width: 150%; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
}

.iframe-message .timestamp {
  font-size: 0.75rem;
}
