.app {
  display: flex;
}
.content {
  flex-grow: 1;
  padding: 15px;
}

/* App.css */
.app-container {
    display: flex; /* Ensures horizontal layout with Sidebar and Content side by side */
    height: 100vh; /* Full viewport height */
}

.sidebar-wrapper {
    width: 250px; /* Adjust as needed */
    border-right: 1px solid #e0e0e0;
    overflow-y: auto; /* Adds vertical scroll if the content exceeds the viewport height */
}

.content-wrapper {
    flex-grow: 1; /* Makes this div take up all remaining horizontal space */
    overflow-y: auto; /* Adds vertical scroll if the content exceeds the viewport height */
    background-color: #f5f5f5; /* Any desired background color */
    padding: 20px; /* Add padding for content */
}


