.container {
  display: flex;
  width: 100%;
  height: 100vh; /* Assuming you want the entire height of the viewport */
}

.search-panel {
  flex: .9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  overflow: auto;
  height: 95%; 
}

.search-input {
  margin: 5px;
}

.results {
    max-height: 100vh;
    overflow-y: auto;
}

.document-panel {
  flex: 1.5;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 95%; 
}
