.app {
  display: flex;
}
.content {
  flex-grow: 1;
  padding: 15px;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.sidebar-wrapper {
  flex: 0 0 250px;  /* Fixed width for sidebar */
}

.content-wrapper {
  flex: 1;  /* Takes remaining width */
}


